/* Add some basic styling to the page */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e3f2fd, #ffffff);
}

/* Style the header */
header {
  background: linear-gradient(to bottom, #00b8d4, #0052cc);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Style the introduction section */
section:first-of-type {
  padding: 20px;
}

.featuredh2 {
	padding: 20px;
	font-size: 20px;
}


/* Style the rotator */
/* .image-rotator {
  position: absolute;
  top: 80;
  right: 0;
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.image-rotator img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 20s infinite;
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */



/* Style the featured games section */
.featured-games {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  
