body {
    font-family: 'Lato';
    background-image: url('../images/background.jpg');
	/* background-size: cover; */
    background-position: center; 
    color: #333;
    display: flex;
    justify-content: space-between;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px 20px;
	font-size: 18px;
    display: flex;
    align-items: center;
}
header img {
    width: 250px;

}

button {
    display: flex;
	background-color: #A89577;
    color: #E8DBB9;
    border: none;
    padding: 10px 40px;
    border-radius: 5px; /* rounding the corners */
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5a442e; /* slightly darker shade for hover effect */
}

.content {
    flex: 1;
    padding: 130px 20px 20px;
}
.featured-games {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game {
    display: table;
	width: auto; 
    flex-direction: row;
    align-items: center;
	padding: 0px 10px 50px;
}
.gamerow {
	display: table-row;
	width: auto;
}

.gamecell{
	display: table-column;
	float: left;
}

.game img {
    width: 220px;
   /*  height: 200px; */
    margin-bottom: 10px;
	padding: 0px 50px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 35px 50px 50px;
}

nav a {
    color: #E8DBB9; /* Updated font color */
    text-decoration: none;
    margin: 10px 0;
	padding: 10px 35px;
    transition: 0.3s; /* Added for hover transition */
}

nav a:hover {
    color: #C9B89B; /* Slightly lighter shade for hover effect */
}


nav a {
    color: #333;
    text-decoration: none;
    margin: 10px 0;
}


footer {
    color: #333;
   /*  padding: 2px 0; */
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-links {
    display: flex;
    gap: 20px; /* Spacing between icons */
}

.social-media-links a {
    color: #E8DBB9;
    text-decoration: none;
    font-size: 24px; /* Adjust as needed */
    transition: 0.3s;
}

.social-media-links a:hover {
    color: #C9B89B; /* Slight color change on hover */
}

.ad-spot {
    width: 160px;
	margin-top: 5px;
	padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
